@page
@model Presentation.Pages.Users.CreateModel
@{
    <div class="flex flex-col w-full items-center pt-2">
        <partial name="Includes/_FormValidation"></partial>
        <form method="post" class="flex flex-col w-1/2">
            <div class="flex flex-col w-100 p-2">
                <label for="FirstName" class="text-sm">First name:</label>
                <input class="h-10 border border-gray-400 rounded-sm mt-1 p-2" name="FirstName" placeholder="First name" />
            </div>

            <div class="flex flex-col w-100 p-2">
                <label for="LastName" class="text-sm">Last name:</label>
                <input class="h-10 border border-gray-400 rounded-sm mt-1 p-2" name="LastName" placeholder="Last name" />
            </div>

            <div class="flex flex-col w-100 p-2">
                <label for="Email" class="text-sm">Email:</label>
                <input class="h-10 border border-gray-400 rounded-sm mt-1 p-2" name="Email" placeholder="Email" />
            </div>

            <div class="flex flex-col w-100 p-2">
                <label for="Position" class="text-sm">Position:</label>
                <input class="h-10 border border-gray-400 rounded-sm mt-1 p-2" name="Position" placeholder="Position" />
            </div>

            <div class="flex flex-col w-100 p-2">
                <label for="Password" class="text-sm">Password:</label>
                <input class="h-10 border border-gray-400 rounded-sm mt-1 p-2" name="Password" type="password" placeholder="Password" />
            </div>

            <div class="flex flex-col w-100 p-2">
                <label for="Age" class="text-sm">Age:</label>
                <input class="h-10 border border-gray-400 rounded-sm mt-1 p-2" name="Age" type="number" min="18" max="100" placeholder="Age" />
            </div>
            <button class="rounded-sm bg-green-400 hover:bg-green-900 text-green-900 hover:text-white drop-shadow-sm h-10 transition">Create</button>
        </form>
    </div>
    
}

