@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="flex justify-center mt-28">
    <div class="m-3 bg-indigo-300 rounded-md shadow-sm p-3">
        <h3 class="decoration-3 text-lg">Welcome to our company house!</h3>
        <p>This website has been developed to provide communication between our workers</p>
    </div>

</div>

