@page
@model Presentation.Pages.ParkingSlots.CreateModel
@{
    <div class="flex flex-col w-full items-center pt-2">
        <partial name="Includes/_FormValidation"></partial>
        <form method="post" class="flex flex-col w-1/2">
            <div class="flex flex-col w-100 p-2">
                <label for="Title" class="text-sm">Title:</label>
                <input class="h-10 border border-gray-400 rounded-sm mt-1 p-2" name="Title" placeholder="Title" />
            </div>
            <button class="rounded-sm bg-green-400 hover:bg-green-900 text-green-900 hover:text-white drop-shadow-sm h-10 transition">Create</button>
        </form>
    </div>
}

