@page
@model Presentation.Pages.Profile.ChangePasswordModel
@{
    <div class="flex flex-col w-full items-center">
        <partial name="Includes/_FormValidation"></partial>
        <partial name="Includes/_SuccessMessage"></partial>
        <form method="post" class="flex w-1/2 flex-col bg-gray-200 rounded-sm shadow-drop-sm p-4">
            <div class="flex flex-col w-100 p-2">
                <label class="text-sm">Old password:</label>
                <input type="password" class="h-10 border border-gray-400 rounded-sm mt-1 p-2" name="oldPassword" placeholder="Old password" />
            </div>
            <div class="flex flex-col w-100 p-2">
                <label class="text-sm">New password:</label>
                <input type="password" class="h-10 border border-gray-400 rounded-sm mt-1 p-2" name="newPassword" placeholder="New password" />
            </div>
            <button type="submit" class="rounded-sm bg-green-400 hover:bg-green-900 text-green-900 hover:text-white drop-shadow-sm h-10 transition">Save changes</button>
        </form>
    </div>
}

